body {
    margin: 0 20%;
}

main {
    margin-bottom: 40px;
}

img.preview {
    float: left;
    height: 175px;
    margin-right: 20px;
}

/*
   Make all section headers (for summaries) h2 styled
   Used for blog
 */
.summaries section header a {
    font-size: 1.5em;
    margin: 0.75em 0;
    font-weight: bold;
}

.summaries .tags {
    margin-top: 6px;
}

.summaries .tags * {
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 8px;
    font-family: monospace;
    font-weight: bold;
}

.summaries p {
    margin-top: 8px;
}

header .date {
    float: right;
}

section.block {
    display: inline-block;
}

img.drawing {
    height: 200px;
}

a,
u {
    /* Don't underline links */
    text-decoration: none;
}

nav>a {
    margin-right: 10px;
}

div.summaries {
    display: grid;
}

/* For medium screens */
@media screen and (max-width: 1200px) {
    body {
        margin: 20px;
    }
}